@model IEnumerable<ChatApplication.Models.Room>


    <div style="margin: 5px; color: gainsboro; border-bottom: 1px solid #45aaf2">
        <ul class="icon-nav" style="margin: 0 auto;">
            <li style="margin: 0 auto;">Tạo nhóm</li>
            <li><a style="color:black" onclick="PopupForm('@Url.Action("AddRoom","Home")')"><i class="fa-sharp fa-solid fa-circle-plus"></i></a></li>
        </ul>
    </div>
    @foreach (var room in Model)
    {
        <div id="Group-@room.RoomID" class="box-chat old" onclick="openChatGroup('@room.RoomID')">
            <div class="img-userchat">
                <img src="https://cdn-icons-png.flaticon.com/512/166/166258.png" class="img-cover" />
            </div>
            <div class="details">
                <div class="headerlist">
                    <h3>@room.RoomName</h3>
                    <p class="time"></p>
                </div>
                <div class="message">
                    <p></p>
                </div>
            </div>
        </div>
    }


<script>
    
</script>



